.wrapper__keypard {
  width: 100%;
  height: 800px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .wrapper__keypard, .first_line, .second_line, .third_line, .fourth_line {
    width: 90%;
    height: 20%;
  }
  .wrapper__keypard, div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  [type="button"] {
    width: 150px;
    height: 150px;
    border-radius: 32px;
    border: 1px solid #707070;
    outline: none;
    font: normal normal normal 64px/77px Helvetica Neue;
  }

}
