.wrapper {
  width: 200px;

  h1 {
    text-align: left;
    font: normal normal normal 64px/77px Helvetica Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  label {
    text-align: left;
    font: normal normal normal 24px/29px Helvetica Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }

  .select {
    text-align: left;
    font: normal normal normal 32px/38px Helvetica Neue;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
  }
}
