.wrapper {
  width: 97%;
  height: 100px;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
  font: normal normal normal 64px/77px Helvetica Neue;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
